

.tab1
{
color:#666;
margin:30px 0;
}
.tab1-h2
{
font-size:20px;
color:#0059b2;
text-align:center;
letter-spacing:1px;
}
.tab1-p
{
font-size:15px;
color:#999;
text-align:center;
letter-spacing:1px;
margin:10px 0 40px 0;
}